/*mobile*/
@media(max-width:500px){
    .footer{
        width:99%;
        margin-top: 20px;
        background-color: rgb(221, 225, 229);
        border:1px solid rgb(221, 225, 229);
        .c1{
            width:80%;
         
            margin-left: 10%;
            h2{
                font-size: 20px;
                font-weight: 600;
                
            }
            p{
                font-weight: 300;
                font-size: 10px;
            }
            p:hover{
                text-decoration: underline;
            }
        }
    }
}

/*tablet*/
@media(min-width:700px){
    .footer{
        width:100%;
        margin-top: 20px;
        background-color: rgb(221, 225, 229);
        border:1px solid white;
        .c1{
            width:80%;
            margin-left: 10%;
            h2{
                padding-top: 50px;
                font-size: 30px;
                font-weight: 600;
                
            }
            p{
                font-weight: 300;
                font-size: 20px;
            }
            p:hover{
                text-decoration: underline;
            }
        }
    }
}

/*laptop*/
@media(min-width:1200px){
    .footer{
        width:99.5%;
        margin-top: 20px;
        display: flex;
        background-color: rgb(221, 225, 229);
        gap:4%;
        
        .c1{
            margin-left: 5%;
            width:15%;
            h2{
                font-size: 20px;
                font-weight: 600;
            }
            p{
                font-weight: 300;
            }
        }
    }
}